<h1>Book Nook</h1>

<h2>Here is a little more info on this Book</h2>

<br>

<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p> 
<p>Summary: <%= @book.summary %></p>
<br>
<form action="/reviews" method="post">
    Your Thoughts: <textarea name="comments"></textarea>
    <input type="hidden" name="book_id" value="<%=@book.id%>">
    <input type="submit" value="Add your Comment">
</form>




<br>
<br>

<h3>Reviews:</h3>
<% @book.reviews.each do |r| %>  
  <div class="d-flex flex-row comment-row">
      <div class="p-2"><span class="round"><img src="https://picsum.photos/200/300" width="70px" height="120px" border-style="solid" border-color="black" padding="5em" style="float:left;"></span></div>
         <div class="comment-text w-200">
         <p style="border: 3px; border-style:solid; border-color:#000000; padding: 2em; height: 50px; width: 300px;">
            <%= r.user.username %>'s Comment: <%=r.comments%><style= float:right> <br>
            <br>
            Posted at: <%=Time.now.utc %>
             
        
  <h4><a href="/reviews/<%=r.id%>/edit">Edit your Review</h4></a>   
  </p> 
  </div> 
<br>
<br>
  <% end %> 



